<footer class="footer">
  <div class="width">
    <div class="footer-top">
      <div class="footer-top__column footer-top__column--copy">
        <p>© 2025 Robert Klein</p>
      </div>
      <div class="footer-top__column">
        <h3>Links</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="https://assetstore.unity.com/publishers/89401">Unity assets</a></li>
          
        </ul>
      </div>
      <div class="footer-top__column">
        <h3>Follow me</h3>
        <ul class="footer-social">
          <li>
            <a href="https://youtube.com/@codingwithrobby">
              {% include _svg/youtube.html %}
              <span>YouTube</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/robert-klein-0664b4203/">
              {% include _svg/linkedin.html %}
              <span>LinkedIn</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/robbyklein">
              {% include _svg/github.html %}
              <span>GitHub</span>
            </a>
          </li>
          <li>
            <a href="mailto:hello@robbyk.com">
              {% include _svg/mail.html %}
              <span>Contact</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
