<header class="header">
  <div class="width">
    <div class="header__flex">
      <a class="header__logo" href="/">{%include _svg/logo.html %}</a>
      <ul class="header__nav">
        <li>
          <a target="_blank" href="https://github.com/robbyklein">
            {%include _svg/github.html %}
            <span>GitHub</span>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/robert-klein-0664b4203/"
          >
            {% include _svg/linkedin.html %}
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.youtube.com/@codingwithrobby">
            {%include _svg/youtube.html %}
            <span>YouTube</span>
          </a>
        </li>
        <li>
          <a target="_blank" href="mailto:hello@robbyk.com">
            {%include _svg/mail.html %}
            <span>Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
