.blog-card {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 2.75rem 0;
  border-top: 0.094rem solid #ddd;
  display: block;
  cursor: pointer;
  transition: 0.2s border-color, 0.2s transform;

  &:hover {
    transform: scale(1.02);
  }

  h4 {
    color: $text;
    font-size: 1.313rem;

    @media (min-width: $largebp) {
      font-size: 1.5rem;
    }
  }

  p {
    color: $lightText;
    margin-top: 0.625rem;
    transition: 0.2s color;

    @media (min-width: $largebp) {
      font-size: 1.125rem;
    }
  }
}
