.blog-page {
  padding: 5rem 0;
}

.blog {
  &__heading {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.313rem;

    @media (min-width: $largebp) {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }
}
