.button {
  display: inline-flex;
  border: 0.09375rem solid $primary;
  border-radius: 0.25rem;
  line-height: 2.25rem;
  padding: 0 0.75rem;
  gap: 0.5rem;
  align-items: center;
  font-weight: 600;
  font-size: 0.875rem;
  transition: 0.2s background-color, 0.2s color, 0.2s border-color;

  &--primary {
    background-color: $text;
    color: $white;
    border-color: $text;

    &:hover {
      background-color: $textHover;
      border-color: $textHover;
      color: $white;
    }
  }

  &--secondary {
    color: $black;
    border-color: $black;

    &:hover {
      background-color: $text;
      border-color: $text;
      color: $white;
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    user-select: none;

    &:hover {
      background-color: $text;
      color: $white;
      border-color: $text;
    }
  }

  &--fullWidth {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  svg {
    width: auto;
  }
}
