.header {
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;

    @media (min-width: $largebp) {
      padding-top: 3rem;
    }
  }

  &__logo {
    color: $black;
  }

  &__nav {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    a {
      font-weight: 600;
      color: $text;
      align-items: center;
      column-gap: 0.5rem;
      font-size: 0.938rem;
      transition: 0.2s color;
      display: inline-flex;

      &:hover {
        color: $lightText;
      }

      span {
        display: none;

        @media (min-width: $smallbp) {
          display: inline;
        }
      }
    }
  }
}
