@keyframes slideBackgroundUp {
  from {
    background-position: 0 0%;
  }
  to {
    background-position: 0 -200%; /* Extend beyond -100% */
  }
}

.intro {
  position: relative;
  padding: 3.75rem 0;
  background-size: 3.375rem;
  animation: 30s infinite slideBackgroundUp linear;
  background-image: url("data:image/svg+xml,%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M53 0H54V54H53V0Z' fill='%23E6E6E6'/%3E%3Cpath d='M0 54L1.19253e-08 53H54V54H0Z' fill='%23E6E6E6'/%3E%3C/svg%3E%0A");

  @media (min-width: $largebp) {
    padding: 5rem 0 3.75rem;
  }

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(
      ellipse 100% 80%,
      rgba(30, 33, 38, 0) 0%,
      #fcfcfc 60%
    );

    @media (min-width: $largebp) {
      background-image: radial-gradient(
        ellipse 50% 80%,
        rgba(30, 33, 38, 0) 0%,
        #fcfcfc 80%
      );
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    gap: 1.5rem;
    max-width: 31.25rem;
    margin: 0 auto;
  }

  &__image {
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 50%;
    border: 0.094rem solid $black;

    img {
      border-radius: 50%;
      width: 8.75rem;
      height: 8.75rem;
    }
  }

  &__text {
    max-width: 25rem;
    font-family: $serif;

    h1 {
      font-size: 2.25rem;
      margin-bottom: 0.375rem;
    }

    h2 {
      font-size: 1.313rem;
      color: $lightText;
    }
  }
}
