.projects {
  margin-top: 2rem;
  margin-bottom: 2.75rem;

  &__heading {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.313rem;

    @media (min-width: $largebp) {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }

  &__grid {
    display: grid;
    gap: 1.5rem;

    @media (min-width: $mediumbp) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $largebp) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $xlargebp) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__view-more {
    margin: 2rem auto 0;
    background: $black;
    color: $white;
    display: block;
    line-height: 2.75rem;
    max-width: 7.5rem;
    font-size: 0.875rem;
    text-align: center;
    font-weight: 600;
    border-radius: 0.25rem;
  }

  #display-all:checked ~ .projects__view-more {
    display: none;
  }
}
