.project-card {
  border: 0.09375rem solid $black;
  background-color: $white;
  border-radius: 0.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &:nth-of-type(1n + 9) {
    display: none;
  }

  #display-all:checked + .projects__grid &:nth-of-type(1n + 9) {
    display: block;
  }

  &__image {
    position: relative;
    padding-top: 56.25%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    border-top: 0.063rem solid $black;
    padding: 1.5rem;
    display: block;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__tags {
    display: inline-flex;
    gap: 0.313rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__description {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.25rem;
  }

  &__buttons {
    display: inline-flex;
    gap: 0.5rem;
    margin-top: auto;
  }
}
