@font-face {
  font-family: "Inria Serif";
  src: url("/assets/fonts/subset-InriaSerif-Bold.woff2") format("woff2"),
    url("/assets/fonts/subset-InriaSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
